body {
    font-family: Arial, sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp1844468.jpg");
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    padding-bottom: 25px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 25px;
  }

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff71;
    border: 1px solid #0a0a0a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #167d19;
}

#search-bar {
    margin-bottom: 20px;
}

#search-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #3d3c3c;
}

#expense-list {
    margin-top: 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #353535;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.edit-btn, .delete-btn {
    background-color:  #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover {
    background-color:  #4CAF50;
}